<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandwich Lovers</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
</head>
<body>
    <header>
      <h1>Club Sandwich Sandwich Club</h1>
        <div class="user-box">
            <a href="http://localhost:3001/login" class="button">Log in here</a>
        </div>
    </header>
   {{{body}}}
</body>
</html>

