<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandwich Lovers</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
</head>

<body>
    <header>
        <a href="/">
            <h1>Club Sandwich Sandwich Club</h1>
        </a>
        <div class="user-box">
            {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </div>
    </header>
    {{{body}}}
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>