<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Sandwiches</title>
</head>
<body>
    <h1>All Sandwiches</h1>
    {{#each cleanSandwiches as | sandwich |}}
        <div class="sandwich">
            <h2>{{sandwich.name}}</h2>
            <img src="{{sandwich.image_link}}" alt="{{sandwich.name}}">
    {{/each}}
</body>
</html>

