<main>
    <section class="video-section">
        <div class="video-box">
            <video controls autoplay muted loop>
                <source
                    src="images/marco-shot-inside-the-sliced-club-sandwich-camera-slides-inside-the-food-macro-SBV-336732699-preview.mp4"
                    type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>
    <h2>TOP 3 RATED SANDWICHES!</h2>
    <h3>YUMMMY...ENJOY!</h3>
    <section class="sandwich-options">
        {{#each ratingsList as |sandwich|}}
        {{> sandwichDetails}}
        {{/each}}
    </section>
    <section class="link-boxes">
        <div class="link-box">
            <div class="text-container">
                <a href="">NOT WHAT YOU'RE LOOKING FOR?</a>
                <button
                    onclick="window.location.href='/sandwich/allSandwiches'">Click
                    here for more</button>
            </div>
        </div>
        <div class="search-box">
            <div class="text-container">
                <input type="text" placeholder="Search here">
            </div>
        </div>
        <div class="link-box">
            <div class="text-container">
                <a href="#">FEELING LUCKY?</a>
                <button>Let us pick for you</button>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.search-box input').addEventListener('keyup', function (event) {
                if (event.key === 'Enter') {
                    var searchTerm = this.value.trim();
                    if (searchTerm !== '') {
                        window.location.href = '/sandwich/search?term=' + encodeURIComponent(searchTerm);
                    }
                }
            });
        });
    </script>
</main>