
    <form action="login_process.php" method="post"> <!--add right url/file path-->
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <button type="submit">Login</button>
    </form>

