<div class="form-container">
    <form class="container" id="login-form">
        <h1>Login</h1>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button id="submit" type="submit">Login</button>
    </form>
</div>
<div class="text-container">
    <a href="./signup">Sign up instead</a>
</div>

<script src="./js/login.js"></script>