<div class="form-container">
    <form class="container" id="sandwich-form">
        <h1>Make A Sandwich</h1>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" data-id="{{userId}}" required>

        <label for="bread">Bread:</label>
        <input type="text" id="bread" name="bread">

        <label for="condiment">Condiment:</label>
        <input type="text" id="condiment" name="condiment">

        <label for="meat">Meat:</label>
        <input type="text" id="meat" name="meat">

        <label for="vegetable">Vegetable:</label>
        <input type="text" id="vegetable" name="vegetable">

        <label for="cheese">Cheese:</label>
        <input type="text" id="cheese" name="cheese">

        <label for="other">Other:</label>
        <input type="text" id="other" name="other">

        <label for="image">Image Link:</label>
        <input type="text" id="image" name="image">

        <button id="submit" type="submit">Add Sandwich</button>
    </form>
</div>

<script src="/js/newSandwich.js"></script>