@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(247, 223, 191);
}

.sandwich-container {
  font-size: 24px;
  text-align: center;
}

.sandwich-container li {
  font-size: 18px;
  list-style-type: none;
}

.sandwich-container img {
  border-radius: 10px;
  margin-top: 20px;
}

header h1 {
  font-size: 50px;
  color: #1bcc50;
  text-align: left;
  margin-left: 40px;
}

h2 {
  font-size: 40px;
  text-align: center;
  color: rgb(45, 168, 72);
  margin-top: 20px;
}

h3 {
  text-align: center;
  color: rgb(45, 168, 72);
}

.user-box {
  margin-left: auto;
}

.user-box input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

main {
  background-color: antiquewhite;
  padding: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
}

#sandwich-form,
#signup-form,
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 3rem 0;
  background: #ffeacb;
}

#sandwich-form input,
#signup-form input,
#login-form input {
  display: block;
  height: 2rem;
  margin: 0.5rem 7rem;
}

#sandwich-form button,
#signup-form button,
#login-form button {
  width: 15%;
  height: 2rem;
  margin: 1rem auto;
  border: none;
  background:#aef0ac;
  box-shadow: 0 0 0.5rem #dec8a7;
}

#sandwich-form button {
  width: 20%;
}

#sandwich-form button:hover
#signup-form button:hover
#login-form button:hover {
  background:rgb(45, 168, 72);
}

.video-box {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 20px;
}

.video-section {
  margin-bottom: 100px;
}

.video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
}

.user-box a {
    text-align: center;
    color: black;
    padding: 0 10px;
}

.user-box a:hover,
.btn-no-style:hover {
  color: var(--secondary);
  background-color: lightgreen;
}

.image-section img {
  background-color: rgb(25, 231, 111);
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sandwich-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sandwich-option {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}

.sandwich-option img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  max-height: 400px;
  object-fit: cover;
}

.sandwich-option .text-container {
  background-color: #f0d9b8;
  padding: 10px;
  border-radius: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sandwich-option .sub-header {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 5px;
}

.sandwich-option ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sandwich-option p {
  font-size: 20px;
  color: #333;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.link-boxes {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}

.link-box {
  flex-basis: 30%;
  text-align: center;
  padding: 10px;
  background-color: #aef0ac;
  border-radius: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.link-box a {
  text-decoration: none;
  color: #333;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0d9b8;
}

.container {
  width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
}

.link-box button {
  margin-top: 5px;
  background-color: #238f43;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.link-box button:hover {
  background-color: #00b39b;
}

.search-box {
  position: relative;
  flex-basis: 30%;
  text-align: center;
  padding: 10px;
  background-color: #aef0ac;
  border-radius: 10px;
}

.search-box .text-container {
  margin-bottom: 0;
}

.search-box input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.sandwich img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.rating {
  text-align: center;
}

.rate-text {
  margin-bottom: 0px;
}

.rating-container {
  display: inline-block;
}

.rating .star {
  font-size: 24px;
  color: green;
  cursor: pointer;
}

.rating .star:hover,
.rating .star.active {
  color: orange;
}

.sandwich-img {
  max-width: 1500px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}
